.green {
    background-color: green;
}

.main {
    margin: 30px;
}

.right-border {
    border-right: 1px solid;
}

h1, h3 {
    text-align: center;
}

#missions_released,
#verified_info,
#request_list,
#missions_request
{
    border-collapse: collapse;
    border-spacing: 0;
    width:95%;
    margin: 30px;
}

table tr {
    border-bottom: solid 1px #eee;
    /* cursor: pointer; */
}

table tr:hover {
    background-color: #d4f0fd;
}

table th,
table td {
    text-align: center;
    width:17%;
    padding: 15px 0;
}

#missions_request th,
#missions_request td {
    width:14.28%;
}


table td.icon {
    background-size: 35px;
    background-position: left 5px center;
    background-repeat: no-repeat;
    padding-left: 30px;
}

.btn-outline-danger{
    margin-top: 3px;
    margin-bottom: 3px;;
}

.form-group{
    margin-top: 100px;
}

p {
    margin: 20px auto;
}

textarea {
    width: 100%;
}