{% extends 'base.html' %}
{% block title %}HomePage{% endblock %}
{% block content %}
<head>
    <script type="text/javascript" src="/static/jquery-3.6.3.js"></script>
</head>

<nav class="navbar navbar-expand-lg navbar-light justify-content-between sticky-top" style="background: linear-gradient(to right,thistle,cornsilk,#e3f2fd);">
    <a class="navbar-brand" style="font-family: '幼圆';font-weight: 500;font-size: xx-large;">米诺众包</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">主页 <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="list/">任务中心</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="upload/">创建任务</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">帮助</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">反馈</a>
            </li>
        </ul>
        <ul class="navbar-nav  justify-content-end">
            <li class="nav-item"><img src={{ portrait }} class="mx-auto" alt="diluc" style=" 
                height: 34px;
                display: flex;
                border-radius: 50%;
                align-items: center;
                justify-content: center;
                overflow: hidden;"></li>
            <li class="nav-item">
                <a class="nav-link" href="profile/">{{ user.username }}</a>
            </li>  
            <li class="nav-item">
                <a class="nav-link" href="signup/">注册</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container" style="width:100%;height:100%; margin:0;padding:0;max-width:none;">
    
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <!-- 轮播指标 -->
        <ol class="carousel-indicators">
           <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
           <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
           <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
         </ol>
       <!-- 轮播图片 -->
       <div class="carousel-inner">
           <div class="carousel-item active"data-bs-interval="2000">
           <img src="/media_url/hm1.jpg" style="height: 450px;" class=" d-block w-100">
           </div>
           <div class="carousel-item "data-bs-interval="2000">
           <img src="/media_url/hm2.jpg" style="height: 450px;" class=" d-block w-100">
           </div>
           <div class="carousel-item "data-bs-interval="2000">
           <img src="/media_url/hm3.jpg" style="height: 450px;" class=" d-block w-100">
           </div>
       </div>
       <!-- 左右切换按钮 -->
       <a class="carousel-control-prev" type="button" data-target="#carouselExampleIndicators" data-slide="prev">
           <span class="carousel-control-prev-icon" aria-hidden="true"></span>
           
       </a>
       <a class="carousel-control-next" type="button" data-target="#carouselExampleIndicators" data-slide="next">
           <span class="carousel-control-next-icon" aria-hidden="true"></span>
           
       </a>

   </div>
   <!-- <div id="uploadPic">
    <input >
    </div> -->
    <div id="instruction" style="height:500px;text-align:center;background-color: rgba(243, 245, 250, 1);">
        <h1 style="padding-top: 100px;">还未拥有账号？</h1>
        <button style="border-radius: 30px;width:300px;height:50px;margin-top: 80px;"><a href="signup/">注册</a></button>
        <button style="border-radius: 30px;width:300px;height:50px;margin-top: 80px;"><a href="login/">已有账号，进行登录</a></button>
    </div>

    <div id="aboutUs" style="text-align:center;height: 200px;background-color: rgb(55, 64, 94);color: #EEEEEE;">
        <h1 style="padding-top: 40px;">关于我们</h1>
        <p>软工小组A07 付家华 李一宣 王宇航 郑若琪</p>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{% endblock %}
