{% extends 'base.html' %}
{% block title %}RequestList{% endblock %}
{% block content %}
<head>
    <script src="/static/jquery-3.6.3.js"></script>
    
    <style>
    ul.pagination {
        display: inline-block;
        padding: 0;
        margin: 0;
    }
    
    ul.pagination li {display: inline;}
    
    ul.pagination li a {
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
        border: 1px solid blue;
        border-radius:3px;
    }
    ul li .active{
        background-color: #7FFFAA;
    }
    </style>

    <script>
    $().ready(function(){
        $.getJSON('/list_ajax/',function(ret){
            //返回值 ret 在这里是一个列表
                // for (var i = ret.length - 1; i >= 0; i--) {
                // // 把 ret 的每一项显示在网页上
                // $('#list_result').append(' ' + ret[i])
                // };
                console.log(ret['test'])
            })
        
        
        var curPage =$("#currentPage").val();
        var last =$("#totalPage").val();
        var page =Math.ceil(curPage/10);
        //调用绘制分页样式函数
        draw(page,curPage);
        
        //绑定点击页码事件
        $(document).on("click",".pagination li a",function(){
            console.log("页码被点击了")
            var str =$(this).html();
            if(!isNaN(str)){
                //移除之前的active
                $(".pagination li a").removeClass("active");
                $(this).attr("class","active");
                $("#currentPage").val(str);
            }
        });
        
        //绑定下一页点击事件
        $(document).on("click","#nextPage",function(){
            var num =$(".active").html();
            var curPage =$("#currentPage").val();
            var last =$("#totalPage").val();
            var page =Math.ceil((parseInt(num))/10);
            if(num < page*10 && num != last){
                //移除之前的active
                $(".pagination li a").removeClass("active");
                $("#"+(parseInt(num)+1)+"").attr("class","active");
                //$(".pagination li a[text="+(parseInt(num)+1)+"]").attr("class","active");//jQ1.6支持
                $("#currentPage").val(parseInt(num)+1);
            }else if(num == page*10 && num != last){
                //清空之前的数据
                $(".pagination").html("");
                draw(page+1,(parseInt(num)+1));
            }
        })
        
        //绑定上一页点击事件
        $(document).on("click","#previousPage",function(){
            var num =$(".active").html();
            var curPage =$("#currentPage").val();
            var last =$("#totalPage").val();
            var page =Math.ceil((parseInt(num))/10);
            if(num <= page*10 && num != (page-1)*10+1){
                //移除之前的active
                $(".pagination li a").removeClass("active");
                $("#"+(parseInt(num)-1)+"").attr("class","active");
                //$(".pagination li a[text="+(parseInt(num)+1)+"]").attr("class","active");//jQ1.6支持
                $("#currentPage").val(parseInt(num)-1);
            }else if(num == (page-1)*10+1 && num != 1){
                //清空之前的数据
                $(".pagination").html("");
                draw(page-1,(parseInt(num)-1));
            }
        })
        
        //绘制页面分页样式
        function draw(page,curPage){
            //页面中的当前页
            var page =page;
            //后台传过来的页数
            var curPage = curPage;
            //后台传过来的总页数
            var datas =$("#totalPage").val();
            //每页显示多少条数据
            var pageSize =10;
            //在网页中一共要分多少页
            var totalPage = Math.floor((datas-1)/pageSize+1);
            
            var liStr ="<li><a id='previousPage' href='#'>«</a></li>";
            $("#currentPage").val(curPage);
            if(page <= totalPage){
                if(datas <= 10){
                    for(i=1; i<=datas; i++){
                        //为当前页增加样式
                        var active ="";
                        if(i==curPage){
                            active=" class='active' ";
                        }
                        liStr +=" <li><a id="+i+" "+active+" href='#'>"+i+"</a></li>"
                    }
                }else{
                    var start =pageSize*(page-1)+1;
                    var end =page*pageSize;
                    if(page == totalPage){
                        for(i=start; i<=datas; i++){
                            //为当前页增加样式
                            var active ="";
                            if(i==curPage){
                                active=" class='active' ";
                            }
                            liStr +=" <li><a id="+i+" "+active+" href='#'>"+i+"</a></li>"
                        }
                    }else{
                        for(i=start; i<=end; i++){
                            //为当前页增加样式
                            var active ="";
                            if(i==curPage){
                                active=" class='active' ";
                            }
                            liStr +=" <li><a id="+i+" "+active+" href='#'>"+i+"</a></li>"
                        }
                    }
                }
            }
            liStr +="<li><a id='nextPage' href='#'>»</a></li>";
            $(".pagination").append(liStr);
        }
    })
    </script>
</head>
<nav class="navbar navbar-expand-lg navbar-light justify-content-between sticky-top" style="background: linear-gradient(to right,thistle,cornsilk,#e3f2fd);">
    <a class="navbar-brand" style="font-family: '幼圆';font-weight: 500;font-size: xx-large;">米诺众包</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="..">主页</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">任务中心 <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../upload/">创建任务</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">帮助</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">反馈</a>
            </li>
        </ul>
        <ul class="navbar-nav  justify-content-end">
            <li class="nav-item"><img src="/media_url/necoru.jpg" class="mx-auto" alt="diluc" style=" 
                height: 34px;
                display: flex;
                border-radius: 50%;
                align-items: center;
                justify-content: center;
                overflow: hidden;"></li>
            <li class="nav-item">
                <a class="nav-link" href="../profile/">{{ user.username }}</a>
            </li>  
            <li class="nav-item">
                <a class="nav-link" href="../signup/">注册</a>
            </li>
        </ul>
    </div>
</nav>

<h3>任务一览</h3>
<div class="panel-group" id="accordion">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" 
				   href="#collapseOne" style="text-decoration:none;color:rgb(127, 195, 255)">
					任务类型
				</a>
			</h4>
		</div>
		<div id="collapseOne" class="panel-collapse collapse in">
			<div class="panel-body">
				<div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                      Default checkbox
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" disabled>
                    <label class="form-check-label" for="defaultCheck2">
                      Disabled checkbox
                    </label>
                  </div>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" 
				   href="#collapseTwo">
					点击我进行展开，再次点击我进行折叠。第 2 部分
				</a>
			</h4>
		</div>
		<div id="collapseTwo" class="panel-collapse collapse">
			<div class="panel-body">
				Nihil anim keffiyeh helvetica, craft beer labore wes anderson 
				cred nesciunt sapiente ea proident. Ad vegan excepteur butcher 
				vice lomo.
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" 
				   href="#collapseThree">
					点击我进行展开，再次点击我进行折叠。第 3 部分
				</a>
			</h4>
		</div>
		<div id="collapseThree" class="panel-collapse collapse">
			<div class="panel-body">
				Nihil anim keffiyeh helvetica, craft beer labore wes anderson 
				cred nesciunt sapiente ea proident. Ad vegan excepteur butcher 
				vice lomo.
			</div>
		</div>
	</div>
</div>
  <!-- <div class="collapse" id="collapseExample">
    <div class="card card-body">
        test
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
              Default checkbox
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" disabled>
            <label class="form-check-label" for="defaultCheck2">
              Disabled checkbox
            </label>
        </div>
    </div>
  </div> -->

<table id="request_list">
    <tr>
        <th>id</th>
        <th>name</th>
        <th>reward</th>
        <th>create_at</th>
    </tr>
    {% for t in tasks %}
    <tr>
        <td>{{ t.id }}</td>
        <td><a href="{% url 'detail' t.id%}">{{ t.name }}</a></td>
        <td>{{ t.reward }}</td>
        <td>{{ t.create_at }}</td>
    </tr>
    {% endfor %}
</table>

<form>
	#foreach($goods in $goodss)
　　 		<li>$goods.goods_name</li>
　　    #end
	<h2>最简单的分页</h2>
	<ul class="pagination"></ul>
	<input type="hidden" id="currentPage" name="currentPage" value="23"></input>
	<input type="hidden" id="totalPage" value="54"></input>
</form>
{% endblock %}
