{% extends 'base.html' %}
{% block title %}Profile{% endblock %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-light justify-content-between sticky-top" style="background: linear-gradient(to right,thistle,cornsilk,#e3f2fd);">
    <a class="navbar-brand" style="font-family: '幼圆';font-weight: 500;font-size: xx-large;">米诺众包</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="..">主页</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../list/">任务中心</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../upload/">创建任务</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">帮助</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">反馈</a>
            </li>
        </ul>
        <ul class="navbar-nav  justify-content-end">
            <li class="nav-item"><img src="/media_url/necoru.jpg" class="mx-auto" alt="diluc" style=" 
                height: 34px;
                display: flex;
                border-radius: 50%;
                align-items: center;
                justify-content: center;
                overflow: hidden;"></li>
            <li class="nav-item">
                <a class="nav-link" href="#">{{ user.username }}</a>
            </li>  
            <li class="nav-item">
                <a class="nav-link" href="../signup/">注册</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container" style="width:100%;height:100%; margin:0;padding:0;max-width:none;">
    <div class="row" style="width:100%;height:100%;margin:0;">
        <div class="col-3.5" style="width:18rem;padding:0;">
            <div class="card" style="width: 100%;height:100%;" style="background:linear-gradient(to right,cornsilk,#e3f2fd);">
                <h2 style="text-align:center;margin-top:20px;margin-bottom:15px;">个人信息</h2>
                    <img id = "portrait" class="card-img-top mx-auto d-block" src="/media_url/necoru.jpg" alt="Card image cap"style=" 
                    margin:5px;
                    margin-top:8px;-
                    width:15rem;
                    display: flex;
                    border-radius: 50%;
                    align-items: center;
                    justify-content: center;
                    overflow: hidden;">
                    <script>
                    //todo: 获取portrait 变量， 修改img src从而更换头像

                    </script>
                    <div class="card-body">
                        <ul class="mr-auto list-group">
                            <li class="list-group-item" >用户名：{{ username }}</li>
                            <li class="list-group-item" >邮箱：{{ email }} </li>
                            <li class="list-group-item" >电话：{{ tel }} </li>
                            <li class="list-group-item" >积分：{{ points }} </li>
                        </ul>
                        <div class="row fa fa-align-center" style="margin:5px;margin-top:10px;">
                            <a href="#" class="btn btn-block" style="background:linear-gradient(to right,deepskyblue,thistle);">提现</a>
                        </div>
                        <div class="row fa fa-align-center" style="margin:5px;margin-top:10px;">
                            <a href="/setProfile/" class="btn btn-block " style="background:linear-gradient(to right,deepskyblue,thistle);">修改资料</a>
                        </div>
                    </div>
            </div>
        </div>
        <div class="col" style="padding:0;">
            <div  style="height:100%;">

                <div>
                    <h3>详细信息</h3>
                    <table id="verified_info">
                        <tr>
                            <th>user_id</th>
                            <th>profile_id</th>
                            <th>username</th>
                            <th>points</th>
                        </tr>
                        <tr>
                            <td>{{ user.id }}</td>
                            <td>{{ profile.id }}</td>
                            <td>{{ user.username }}</td>
                            <td>{{ profile.points }}</td>
                        </tr>
                    </table>
            
                    <h3>我发布的</h3>
                    <table id="missions_released">
                        <tr>
                            <th style="width:20%;">任务id</th>
                            <th style="width:20%;">任务名称</th>
                            <th style="width:20%;">任务报酬PT</th>
                            <th style="width:20%;">任务状态</th>
                            <th style="width:20%;">创建时间</th>
                        </tr>
                        {% for t in myTasks %}
                        <tr>
                            <td>{{ t.id }}</td>
                            <td><a href="{% url 'detail' t.id%}">{{ t.name }}</a></td>
                            <td>{{ t.reward }}</td>
                            <td> 
                                {% if t.status ==  0%}
                                <span class="badge badge-primary">尚无申请</span>
                                {% elif t.status == 1 %}
                                <span class="badge badge-primary">申请审核中</span>
                                {% elif t.status == 2 %}
                                <span class="badge badge-primary">进行中</span>
                                {% elif t.status == 3 %}
                                <span class="badge badge-primary">已完成待审核</span>
                                {% elif t.status == 4 %}
                                <span class="badge badge-primary">已结算</span>
                                {% endif %}
                            </td>
                            <td>{{ t.create_at }}</td>
                            <td>
                                <a href="../task_cancel/{{t.id}}/"><button type="button" class="btn btn-outline-danger">取消任务</button></a>
                                {% if t.status == 1 %}
                                <a href="../task_request_pass/{{t.id}}/"><button type="button" class="btn btn-outline-danger">审核申请</button></a>
                                {% elif t.status == 3 %}
                                <a href="../task_complete_page/{{t.id}}/"><button type="button" class="btn btn-outline-danger">前往结算</button></a>
                                {% endif %}
                            <td>
                        </tr>
                        {% endfor %}
                    </table>
                    <h3>我申请的</h3>
                    <table id="missions_request">
                        <tr>
                            <th style="width:20%;">任务id</th>
                            <th style="width:20%;">任务名称</th>
                            <th style="width:20%;">任务报酬PT</th>
                            <th style="width:20%;">任务状态</th>
                            <th style="width:20%;">发布人id</th>
                            <th style="width:20%;">创建时间</th>
                        </tr>
                        {% for req in requests %}
                        <tr>
                            <td>{{ req.id }}</td>
                            <td><a href="{% url 'detail_request' req.id%}">{{ req.name }}</a></td>
                            <td>{{ req.reward }}</td>
                            <td> 
                                {% if req.status ==  0%}
                                <span class="badge badge-primary">尚无申请</span>
                                {% elif req.status == 1 %}
                                <span class="badge badge-primary">申请审核中</span>
                                {% elif req.status == 2 %}
                                <span class="badge badge-primary">进行中</span>
                                {% elif req.status == 3 %}
                                <span class="badge badge-primary">已完成待审核</span>
                                {% elif req.status == 4 %}
                                <span class="badge badge-primary">已结算</span>
                                {% endif %}
                            </td>
                            <td>{{req.owner_id}}</td>
                            <td>{{req.create_at }}</td>
                            <td> 
                                <a href="../task_cancel_request/{{req.id}}/"><button type="button" class="btn btn-outline-danger">取消任务</button></a>
                                {% if req.status == 2 %}
                                <a href="../task_upload/{{req.id}}/"><button type="button" class="btn btn-outline-danger">提交任务</button></a>
                                {% endif %}
                            <td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
