{% extends 'base.html' %}
{% block title %}Profile{% endblock %}
{% block content %}
<head>
    
    
    <!-- <link rel="stylesheet" type="text/css" href="/static/picjqshow_jb51net/css/jquery.Jcrop.css"/>
    <script type="text/javascript" src="/static/picjqshow_jb51net/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="/static/picjqshow_jb51net/js/jquery.Jcrop.js"></script> -->
    
    <link rel="stylesheet" type="text/css" href="/static/Jcrop/jcrop.css"/>
    <link rel="stylesheet" type="text/css" href="/static/Jcrop/jcrop.dev.css"/>
    <script type="text/javascript" src="/static/Jcrop/jcrop.js"></script>
    <script type="text/javascript" src="/static/Jcrop/jcrop.dev.js"></script>
    <script type="text/javascript" src="/static/jquery-3.6.3.js"></script>
    
</head>
<script>
    var js_task_id = 0 ;
    var js_task_items_num = 0;
    var js_items_answer = new Array();
    var js_items_answer_x1 = new Array();
    var js_items_answer_y1 = new Array();
    var js_items_answer_x2 = new Array();
    var js_items_answer_y2 = new Array();
    var js_task_type = 0;
    var last_item = 1;
    var jq_img_select_str="img-select1";
    var jcropApi;
    $().ready(function(){
        $(".task-quest").hide();
        $(".hidden").hide()
        $(".task-quest#1").show();
        $(".page-item#test1").attr({
            "class":"page-item active"
        });

        js_task_id = $("#js-task-id").text();
        js_task_items_num = $("#js-task-item-num").text();
        js_task_type = $("#js-task-type").text();
        console.log("js_task_type = ",js_task_type)

        $(".page-item .page-link").click(function(){
            $(".page-item").attr({
                "class":"page-item"
            });
            $(this).parent().attr({
                "class":"page-item active"
            });
            console.log(this.text)
            var id_num = this.text;
            $(".task-quest").hide();
            var str = ".task-quest#"+String(id_num);
            var task_quest = $(str);
            // jq_radios_checked = $(":radio:checked");
            // jq_thisradio_checked = $(jq_radios_checked.get(last_item-1));
            // console.log(jq_thisradio_checked)
            // js_items_answer[last_item-1] = jq_thisradio_checked.val();
            // console.log("last_item = ",last_item)
            // console.log(jq_thisradio_checked.val());
            // console.log(js_items_answer);
            task_quest.show();
            last_item = id_num
            jq_img_select_str = "img-select"+String(last_item)
            console.log("jq_img_select_str=",jq_img_select_str)
            if(js_task_type==2){
                const jq_Jcrop_imgselect = Jcrop.attach(jq_img_select_str);
                jq_Jcrop_imgselect.listen("crop.change",(widget,e)=>{
                    js_items_answer_x1[last_item-1] = widget.pos["x"];
                    js_items_answer_y1[last_item-1] = widget.pos["y"];
                    js_items_answer_x2[last_item-1] = widget.pos["x"]+widget.pos["w"];
                    js_items_answer_y2[last_item-1] = widget.pos["y"]+widget.pos["h"];
                    console.log("clicked",last_item,widget.pos);
                });
            }
        })

        // $(jq_img_select_str).imgAreaSelect({
        //     // movable:true,
        //     // resizable:true,
        //     // show:true,
        // });
        // $("#img-select1").click(function(){
        //     console.log("图片框选1")

        // })
        if(js_task_type==2){
            const jq_Jcrop_imgselect = Jcrop.attach(jq_img_select_str);
            jq_Jcrop_imgselect.listen("crop.change",(widget,e)=>{
                js_items_answer_x1[0] = widget.pos["x"];
                js_items_answer_y1[0] = widget.pos["y"];
                js_items_answer_x2[0] = widget.pos["x"]+widget.pos["w"];
                js_items_answer_y2[0] = widget.pos["y"]+widget.pos["h"];
                console.log(widget.pos);
            });
        }
        
        $(":radio").click(function(){
            jq_radio = $(this);
            radio_str = jq_radio.val().split(",");
            js_items_answer[radio_str[0]-1] = radio_str[1];
            console.log(js_items_answer);
        })
        $("#task_finished").click(function(){
            console.log("js_task_id = ",js_task_id)
            console.log("js_task_items_num = ",js_task_items_num)
            console.log("js_items_answer = ",js_items_answer)
            console.log("js_task_type = ",js_task_type)
            if(js_task_type!=2){
                $.ajax({
                    url:'../../task_operate_complete/',
                    type:'PUT',
                    dataType:'json',
                    data:JSON.stringify({
                        "task_id":js_task_id,
                        "task_items_num":js_task_items_num,
                        "items_answer":js_items_answer,
                        "task_type":js_task_type,
                    }),
                    headers:{'X-CSRFToken':"{{csrf_token}}"},
                    success:function(data){
                        console.log("=======================\nTask submit!")
                        if (confirm("提交成功!")) {   
                            console.log("提交成功")   
                            window.location.href="../../profile/"; 
                            // window.history.back(-1);
                        } else {
                            console.log("留在此页")
                        }
                    }
                })
            }
            else{
                console.log("js_items_answer_x1 = ",js_items_answer_x1)
                console.log("js_items_answer_y1 = ",js_items_answer_y1)
                console.log("js_items_answer_x2 = ",js_items_answer_x2)
                console.log("js_items_answer_y2 = ",js_items_answer_y2)
                $.ajax({
                    url:'../../task_operate_complete/',
                    type:'PUT',
                    dataType:'json',
                    data:JSON.stringify({
                        "task_id":js_task_id,
                        "task_items_num":js_task_items_num,
                        "task_type":js_task_type,
                        "items_answer_x1":js_items_answer_x1,
                        "items_answer_y1":js_items_answer_y1,
                        "items_answer_x2":js_items_answer_x2,
                        "items_answer_y2":js_items_answer_y2,
                    }),
                    headers:{'X-CSRFToken':"{{csrf_token}}"},
                    success:function(data){
                        console.log("=======================\nTask submit!")
                        if (confirm("提交成功!")) {   
                            console.log("提交成功") 
                            window.history.back(-1);
                        } else {
                            console.log("留在此页")
                        }
                    }
                })
            }
        })
        $("audio").click(function(){
            // this.pause()

        })
    })
</script>
<nav class="navbar navbar-expand-lg navbar-light justify-content-between sticky-top" style="background: linear-gradient(to right,thistle,cornsilk,#e3f2fd);">
    <a class="navbar-brand" style="font-family: '幼圆';font-weight: 500;font-size: xx-large;">米诺众包</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="../..">主页</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../../list/">任务中心</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../../upload/">创建任务</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">帮助</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">反馈</a>
            </li>
        </ul>
        <ul class="navbar-nav  justify-content-end">
            <li class="nav-item"><img src="/media_url/necoru.jpg" class="mx-auto" alt="diluc" style=" 
                height: 34px;
                display: flex;
                border-radius: 50%;
                align-items: center;
                justify-content: center;
                overflow: hidden;"></li>
            <li class="nav-item">
                <a class="nav-link" href="../../profile/">{{ user.username }}</a>
            </li>  
            <li class="nav-item">
                <a class="nav-link" href="../../signup/">注册</a>
            </li>
        </ul>
    </div>
</nav>
<div>
    <a class="hidden" id="js-task-id">{{task_id}}</a>
    <a class="hidden" id="js-task-item-num">{{task_item_num}}</a>
    <a class="hidden" id="js-task-type">{{task_type}}</a>
    <h1>{{taskname}}</h1>
    <p>{{task_description}}</p>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
          <!-- <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li> -->
          {% for i in task_item_range %}
          <li class="page-item" id="test{{i}}"><a class="page-link">{{i}}</a></li>
          <!-- <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"> -->
            {% endfor %}
            <!-- <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a> -->
          </li>
        </ul>
      </nav>
    
    {% for quest in quests %}
    <div class="task-quest" id="{{quest.quest_id}}">
        <div class="task-quest-NO">{{quest.quest_id}}</div>
        <p class = "task-quest-description">{{quest.quest_text}}</p>
        {% if task_type == 1 %}
        <img class="img-fluid" src="{{quest.copy_path.0}}" style="width: 120px; height:auto;">
        {% elif task_type == 2 %}
        <img  id="img-select{{quest.quest_id}}" src="{{quest.copy_path.0}}" style="width: 120px; height:auto;">
        {% elif task_type == 3 %}
        <div>{{quest.quest_description}}}</div>
        {% elif task_type == 4 %}
            {% for path in quest.copy_path %}
            <audio src="{{path}}" controls preload="auto"></audio>
            {% endfor %}
        {% else %}
        <div> 任务类型错误 </div>
        {% endif %}
        <!-- <div class="task-source">{{quest.quest_pics_path_list.0}}</div> -->
        {% for quest_option in quest.option_list %}
        <div class="custom-control custom-radio">
            <input type="radio" id="{{quest.quest_id}}+{{quest_option}}" name="{{quest.quest_id}}" class="custom-control-input" value="{{quest.quest_id}},{{quest_option}}">
            <label class="custom-control-label" for="{{quest.quest_id}}+{{quest_option}}">{{quest_option}}</label>
        </div>
        <!-- <div><input type="radio" class="task-item" id="0" name = "quest_option" value = "{{quest_option}}">{{quest_option}}</input></div> -->
        {% endfor %}  
    </div>
    {% endfor %}
    <button type="button" class="btn btn-outline-primary" id="task_finished">完成题目</button>
</div>

{% endblock %}